.footer {
  margin-top: 5rem;
  height: 260px;
}
.color {
  background: #bd5ada;
}
.fContainer {
  margin: auto 100px;
  padding: 20px 20px 0;
}
.gridRows {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
.footerContainer {
  padding: auto;
}
.fNavegation {
  overflow: hidden;
  margin-top: 20px;
  height: 60px;
  width: 100%;
}
.gridColumn {
  display: grid;
  grid-template-columns: 1fr 45%;
}
.fNavegationList {
  margin: auto;
  padding: 0;
}
.columnItems {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em;
  list-style: none;
}
.nItems a {
  list-style: none;
}
.navLinks {
  transition: 0.2s ease-in;
}
.navLinks:hover {
  padding: 10px;
  color: $secundaryColor;
  text-decoration: none;
  border: 1px solid;
  border-radius: 19px;
}
.fContainerSocial {
  margin-top: 30px;
}
.centerItems {
  display: flex;
  align-items: center;
  justify-content: center;
}
.white {
  color: white;
}
