@media (max-width: 992px) {
  .container {
    margin: 20px auto;
  }
  .btnprimary {
    width: 90px;
    height: 30px;
    margin-left: 15px;
  }
  .frmcontrol {
    font-size: 0.9rem;
  }
}

@media (max-width: 770px) {
  .activitieslist {
    grid-row: 3;
    grid-column: 1;
    margin-top: 30px;
  }
}
