.headboard {
  width: 90%;
  max-width: 1400px;
  margin: auto;
  padding: 10px;
}
//navegation
.navegation {
  overflow: hidden;
  margin-top: 20px;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.nListItems {
  margin-left: auto;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em;
}
@mixin propertiesLinks($colorHover, $color) {
  .nLinks {
    color: $color;
    transition: 0.2s ease-in;
  }
  .nLinks:hover {
    color: $colorHover;
    padding: 10px;
    border: 1px solid;
    border-radius: 19px;
    text-decoration: none;
  }
}
.nItem {
  list-style: none;
  @include propertiesLinks($secundaryColor, black);
}
.nLinks {
  height: 45px;
}
#iconMenu {
  display: none;
  width: 30px;
  margin-left: 20px;
  cursor: pointer;
}
//section principal
.hSection {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 5px;
}
.contentPicture {
  background-image: url("../src/image/ilustrationPh.png");
  background-size: cover;
  grid-column: 2;
  display: flex;
  align-items: center;
}
.sectionContent {
  padding: $paddingContainer;
}
.headTitle {
  text-align: left;
  font-size: 4rem;
  margin-bottom: 30px;
}
.headParagraph {
  margin-bottom: 40px;
  font-size: 20px;
}
.start {
  width: 160px;
  padding: 10px;
}
.button {
  background-color: $secundaryColor;
  border: none;
  border-radius: 19px;
  letter-spacing: 1.2px;
  transition-duration: 0.2s;
  color: aliceblue;
  cursor: pointer;
}
.start:hover {
  background-color: $sixthColor;
}
.letter {
  letter-spacing: 2px;
}
