.headboard {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 50px;
  display: grid;
  grid-template-rows: 100px 30rem;
}
//navegation
.navegation {
  overflow: hidden;
  padding-bottom: 0;
  margin-top: 20px;
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
}
.pictureLogo {
  height: 60px;
  align-items: center;
}
.nListItems {
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em;
}
.nItem {
  list-style: none;
}
.nLinks {
  transition: 0.2s ease-in;
}
.nLinks:hover {
  color: $secundaryColor;
  padding: 10px;
  border: 1px solid;
  border-radius: 19px;
}
.nListItems a {
  color: black;
  text-decoration: none;
}
.nMenu {
  margin-left: auto;
  cursor: pointer;
  display: none;
}
#iconClose {
  display: none;
  cursor: pointer;
}
#iconMenu {
  display: none;
  width: 30px;
  cursor: pointer;
  margin-left: 20px;
}
#nTitle {
  letter-spacing: 2px;
}
//section principal
.hSection {
  display: grid;
  grid-template-columns: 5fr;
}
#picture {
  grid-column: 2;
  display: flex;
  align-items: center;
}
#nTitle {
  font-size: 30px;
}
.sectionContent {
  padding: $paddingContainer;
}
.headTitle {
  text-align: left;
  font-size: 4rem;
  margin-bottom: 30px;
  letter-spacing: 2px;
}
.headParagraph {
  margin-bottom: 40px;
  font-size: 20px;
}
.start {
  background-color: $secundaryColor;
  width: 160px;
  padding: 10px;
  border: none;
  border-radius: 19px;
  letter-spacing: 2px;
  transition-duration: 0.2s;
  color: aliceblue;
  cursor: pointer;
}
.start:hover {
  background-color: $sixthColor;
}
