/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(148, 148, 148) rgba(255, 255, 255, 0);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(148, 148, 148);
  border-radius: 20px;
  border: 3px solid rgba(255, 255, 255, 0);
}
