.container {
  margin-top: 3rem;
}
hr {
  margin: 0 0 3rem 0;
}
.titlePrincipal {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 46px 70% 24%;
  align-items: center;
  justify-content: end;
}
.iconTitle {
  width: 40px;
  height: 40px;
  margin-right: 6px;
}

.timeTitle {
  color: #8c38a5;
}

#title {
  color: #8c38a5;
}
#titleTask {
  color: #8c38a5;
}

.inputTask {
  margin: 0 auto 5rem auto;
  display: flex;
  width: 700px;
  height: 55px;
  background-color: white;
  padding: 0 28px 0 10px;
  border-radius: 12px;
  box-shadow: 0px 2px 5px 1px rgba(161, 161, 161, 0.2);
}

#activity {
  width: 80%;
  outline: none;
  border: none;
  overflow: auto;
  background-color: white;
}

#activity:-webkit-autofill {
  -webkit-background-clip: text;
}
.alert {
  margin: 1rem;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
}

.btnSumit {
  border: none;
  outline: none;
  background-color: #8c38a5;
  color: white;
  margin: 1% 0;
  width: 120px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
}

.activitieslist {
  height: 400px;
  overflow: auto;
}
#nothing {
  text-align: center;
  font-size: 30px;
  color: rgba(85, 85, 85, 0.356);
}
