@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@200;300;400;800&display=swap");
//main colors
$primaryColor: #f7b429;
$secundaryColor: #d28bfd;
$tertiaryColor: #e0354d;
$fourthColor: #f4bb2c;
$fifthColor: #916919;
$sixthColor: #a120c7;

$paddingContainer: 50px 0;

body {
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
  color: black;
}
