@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@200;300;400;800&display=swap");
//main colors
$primaryColor: #F7B429;
$secundaryColor: #D28BFD;
$tertiaryColor: #E0354D;
$fourthColor: #CC935E;
$fifthColor: #916919;
$sixthColor: #A120C7;


$paddingContainer: 50px 0;

body {
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
}
